<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QLTK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <QLTK.Properties.Settings>
            <setting name="PathAccounts" serializeAs="String">
                <value>ModData\accounts.json</value>
            </setting>
            <setting name="PathGame" serializeAs="String">
                <value>Game.exe</value>
            </setting>
            <setting name="PortListener" serializeAs="String">
                <value>22327</value>
            </setting>
            <setting name="PathSettings" serializeAs="String">
                <value>ModData\settings.json</value>
            </setting>
            <setting name="LinkNotification" serializeAs="String">
                <value>https://raw.githubusercontent.com/pk9r327/Dragonboy/master/notification.txt</value>
            </setting>
            <setting name="LinkHash" serializeAs="String">
                <value>https://raw.githubusercontent.com/pk9r327/Dragonboy/master/HashAndTimeStamp.txt</value>
            </setting>
        </QLTK.Properties.Settings>
    </userSettings>
</configuration>